
@keyframes aura {
    0% {
        filter: drop-shadow(0 0 1em indigo);
    }
    10% {
        filter: drop-shadow(0 0 5em indigo);
    }
    20% {
        filter: drop-shadow(0 0 1em blue);
    }
    30% {
        filter: drop-shadow(0 0 5em blue);
    }
    40% {
        filter: drop-shadow(0 0 1em green);
    }
    50% {
        filter: drop-shadow(0 0 5em green);
    }
    60% {
        filter: drop-shadow(0 0 1em yellow);
    }
    70% {
        filter: drop-shadow(0 0 5em yellow);
    }
    80% {
        filter: drop-shadow(0 0 1em red);
    }
    90% {
        filter: drop-shadow(0 0 5em red);
    }
    100%{
        filter: drop-shadow(0 0 1em indigo);
    }
}


.banner {
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 1rem;

    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

@keyframes autoRun {
    0% {
        transform: var(--perspective) rotateX(-5deg) rotateY(0deg);
    }
    100% {
        transform: var(--perspective) rotateX(-5deg) rotateY(360deg);
    }
}

.banner .person {
    position: absolute;
    width: 320px;
    left: calc(50vw - 160px);
    bottom: 5rem;
    animation: aura 10s linear infinite;
}

.banner > .slider {
    position: absolute;
    width: 64px;
    height: 64px;
    bottom: 35%;
    left: calc(50% - 32px);
    transform-style: preserve-3d;
    --perspective: perspective(1280px);
    transform: var(--perspective);
    animation: autoRun 60s linear infinite;
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc(((var(--position) - 1)) * (360 / var(--quantity)) * 1deg))
        translateZ(640px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider:hover {
    animation-play-state: paused!important;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(3em);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-left, .text-right {
    font-family: monospace;
    font-size: 3em;
    color: blueviolet;
}

